/* styles.css */

/* Base Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #34435E;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}

.language-switcher {
  display: inline-block;
  background-color: #F5F5F5;
  padding: 10px 20px;
  border-radius: 5px;
}

.language-switcher a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.language-switcher a i {
  margin-right: 5px;
  color: #333; /* Same color as text */
}

.language-switcher a:hover {
  color: #FC832B;
  background: none;
}


/* Navigation Styles */
nav {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
}

nav #logo {
  /* Adjust as needed */
  width: 400px; /* Increased logo size */
}

nav #logo img {
  max-width: 100%;
  height: auto;
}

nav ul {
  /* Updated Styles */
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 15px; /* Increased space between the links */
}

nav a {
  color: #34435E;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
  font-size: 1.1em;
  font-weight: bold;
}

nav a:hover {
  color: #FC832B;
  background: none;
}

/* Main Content Styles */
main {
  margin: 0 auto; /* Center the main content */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.container {
  border: 1px solid #F5F5F5;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  background: #F5F5F5;
  color: #34435E;
  max-width: 800px;
  width: 100%;
}

#hero {
  text-align: center;
  padding: 40px 0;
  background: #F5F5F5;
}

#hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.6em;
  margin-bottom: 40px;
}

#hero .cta-button {
  background-color: #FC832B;
  color: #F5F5F5;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#hero .cta-button:hover {
  background-color: #E7600D;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.container {
  border: 1px solid #F5F5F5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #F5F5F5;
  color: #34435E;
}

.container h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.1em;
  line-height: 1.6;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#aboutText {
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
}

#aboutImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
}

#aboutImageContainer {
  flex-basis: 100%;
  text-align: center;
}

#cv {
  background-color: #FC832B;
  color: #F5F5F5;
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#cv:hover {
  background-color: #E7600D;
}

/* Footer Styles */
footer {
  background: #34435E;
  color: #F5F5F5;
  text-align: center;
  padding: 20px 0;
  font-size: 1.1em;
  margin-top: 40px;
}
